.App {
  text-align: center;
  margin-bottom: 50px;
}

.App-dark {
  text-align: center;
  padding-bottom: 50px;
  height: 100vh;
  background-color: #0d1014;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

.main-title {
  font-size: 2.75em;
  padding-top: 38px;
}

.stat-item {
  font-size: 1.1em;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-radius: 10px;
  border-color: #fff;
}

tbody {
  border-top: 1px solid #0d6efd !important;
}

thead {
  border-color: #0d6efd !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clipboard {
  cursor: pointer;
  margin-left: 10px;
}

.theme-picker-icon {
  font-size: 1.5em;
  cursor: pointer;
}

.no-files {
  font-size: 1.1em;
}

@media screen and (max-width: 635px) {
  .my-files {
    width: 80%;
    margin: auto;
  }
}
